@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&display=swap');
:root
{
    /* Tema Azul */
    --Bbackground: hsl(222, 26%, 31%);
    --Bnumbers_back: hsl(223, 31%, 20%);
    --Bresult_back: hsl(224, 36%, 15%);

    --Bkey_background1:  hsl(225, 21%, 49%);
    --Bkey_shadow1: hsl(224, 28%, 35%);

    --Bkey_background2: hsl(6, 63%, 50%);
    --Bkey_shadow2: hsl(6, 70%, 34%);

    --Bkey_background3: hsl(30, 25%, 89%);
    --Bkey_shadow3: hsl(28, 16%, 65%);

    --BfontNum: hsl(221, 14%, 31%);
    --BfontIgual: hsl(0, 0%, 100%);
    --BfontRD: hsl(0, 0%, 100%);
    --BfontHR: hsl(0, 0%, 100%);
    

    /* Tema Claro */
    --Wbackground: hsl(0, 0%, 90%);
    --Wnumbers_back: hsl(0, 5%, 81%);
    --Wresult_back: hsl(0, 0%, 93%);

    --Wkey_background1:   hsl(185, 42%, 37%);
    --Wkey_shadow1: hsl(185, 58%, 25%);

    --Wkey_background2: hsl(25, 98%, 40%);
    --Wkey_shadow2: hsl(25, 99%, 27%);

    --Wkey_background3: hsl(45, 7%, 89%);
    --Wkey_shadow3: hsl(35, 11%, 61%);

    --WfontNum:  hsl(60, 10%, 19%);
    --WfontIgual: hsl(0, 0%, 100%);
    --WfontRD: hsl(0, 0%, 100%);
    --WfontHR: hsl(60, 10%, 19%);
    

    /* Tema Roxo */

    --Pbackground: hsl(268, 75%, 9%);
    --Pnumbers_back: hsl(268, 71%, 12%);
    --Presult_back:  hsl(268, 71%, 12%);

    --Pkey_background1:  hsl(281, 89%, 26%);
    --Pkey_shadow1: hsl(285, 91%, 52%);
    
    --Pkey_background2: hsl(176, 100%, 44%);
    --Pkey_shadow2: hsl(177, 92%, 70%);
    
    --Pkey_background3: hsl(268, 47%, 21%);
    --Pkey_shadow3: hsl(290, 70%, 36%);
    
    --PfontNum: hsl(52, 100%, 62%);
    --PfontIgual: hsl(198, 20%, 13%);
    --PfontRD: hsl(0, 0%, 100%);
    --PfontHR: hsl(52, 100%, 62%);
    
    
}

html 
{
    display: flex;
    align-items: center;

    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;;
}

body 
{
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

.theme-1 
{ /* Tema Azul */
	--background:var(--Bbackground);    
    --numbers_back:var(--Bnumbers_back);
    --result_back:var(--Bresult_back);

    --key_background1:var(--Bkey_background1);;
    --key_shadow1:var(--Bkey_shadow1);

    --key_background2:var(--Bkey_background2);;
    --key_shadow2:var(--Bkey_shadow2);

    --key_background3:var(--Bkey_background3);
    --key_shadow3:var(--Bkey_shadow3);
    
    --fontNum:var(--BfontNum);
    --fontIgual:var(--BfontIgual);
    --fontRD:var(--BfontRD);
    --fontHR:var(--BfontHR);
    
}

.theme-2
{ /* Tema claro */
	--background:var(--Wbackground);    
    --numbers_back:var(--Wnumbers_back);
    --result_back:var(--Wresult_back);

    --key_background1:var(--Wkey_background1);;
    --key_shadow1:var(--Wkey_shadow1);

    --key_background2:var(--Wkey_background2);;
    --key_shadow2:var(--Wkey_shadow2);

    --key_background3:var(--Wkey_background3);
    --key_shadow3:var(--Wkey_shadow3);
    
    --fontNum:var(--WfontNum);
    --fontIgual:var(--WfontIgual);
    --fontRD:var(--WfontRD);
    --fontHR:var(--WfontHR);
    
}

.theme-3
{ /* Tema Roxo */
	--background:var(--Pbackground);    
    --numbers_back:var(--Pnumbers_back);
    --result_back:var(--Presult_back);

    --key_background1:var(--Pkey_background1);;
    --key_shadow1:var(--Pkey_shadow1);

    --key_background2:var(--Pkey_background2);;
    --key_shadow2:var(--Pkey_shadow2);

    --key_background3:var(--Pkey_background3);
    --key_shadow3:var(--Pkey_shadow3);

    --fontNum:var(--PfontNum);
    --fontIgual:var(--PfontIgual);
    --fontRD:var(--PfontRD);
    --fontHR:var(--PfontHR);
    
}

/* conteiner principal */
.container
{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 20px;
}

/* caixinha do switch */
.box_change
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.button_change
{
    position: relative;
	background-color: var(--numbers_back);
	display: flex;
    height: 25px;
	align-items: center;
	justify-content: flex-start;
	border-radius: 500px;
}

.switch
{
    box-sizing: border-box;
    appearance: none;
  /*   background: white;
     outline: 1px solid #333;
    border: 1px solid white; */
    width: 15px;
    height: 15px;
    margin: 7px 3.5px 7px 3.5px;
    transform: scale(1.5);
}

/* config do span */
.ativo 
{
	height: 20px;
	width: 20px;
	background-color: var(--key_background2);
	border-radius: 50%;
	position: absolute;
	top:2px;
	margin-left: 2px;
	transition: left 0.2s;
}

.switch:nth-child(1):checked ~ .ativo
{
	left: 1px;
}
.switch:nth-child(2):checked ~ .ativo
{
	left: 20px;
}
.switch:nth-child(3):checked ~ .ativo
{
	left: 40px;
}

.change_swith
{
    display: flex;
    flex-direction: column;
}

.box_change h3
{
    position: relative;
    top: 14px;
}

.box_change div p
{
    margin-bottom: 5px;
    margin-top: 0px;
}

.text_change
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

/* caixa onde aprece os resultados e números em geral */
.box_result
{
    width: 100%;
    height: 150px;
    background-color: var(--result_back);
    border-radius: 10px;
    margin: 0%;
    color: var(--fontHR);
    font-size: clamp(1rem, 5vw, 4rem);;
}

#receiver
{
   position: relative;
   top: 20%;
   right: 5%;
   margin: 0px;
   text-align: right;
}

/* caixa dos botões dos números */
.box_numbers
{
    display: flex;
    padding: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--numbers_back);
    border-radius: 10px;
    margin-top: 5%;
    gap: 20px;
}

.large_buttons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--fontHR);
}


.button 
{
    display: inline-block;
    font-size: clamp(0.8rem, 4vw, 2rem);
    font-family: 'Tilt Warp', cursive;
    background-color: var(--key_background3);
    color: var(--fontNum);
    height: 65px;
    width: 20%;
    border:none;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 0px 5px 0px var(--key_shadow3);
}

.button:active 
{
    background-color: var(--key_background3);
    box-shadow: 0 0px;
    transform: translateY(5px);
}

.button-1 
{
    display: inline-block;
    font-size: clamp(0.8rem, 4vw, 2rem);
    background-color: var(--key_background1);
    box-shadow: 0px 5px 0px var(--key_shadow1);
    border: 0ch;
    vertical-align: middle;
    color: var(--fontRD);
    font-family: 'Tilt Warp', cursive;
}

.button-1:active 
{
    background-color: var(--key_background1);
    box-shadow: 0 0px;
    transform: translateY(5px);
}

.button-red 
{
    background-color: var(--key_background2);
    box-shadow: 0px 5px 0px var(--key_shadow2);
    color: var(--fontIgual);
    border: none;
}

.large_buttons button
{
    font-size: clamp(1rem, 4vw, 2rem);
    width: 48%;
    height: 70px;
    border-radius: 10px;
}

.button-red:active {
    background-color: var(--key_background2);
    box-shadow: 0 0px;
    transform: translateY(5px);
}

@media screen and ( max-width: 900px) 
{
    
}