@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&display=swap');

:root
{
    /* BackGrounds */
    --background: hsl(222, 26%, 31%);
    --result_back: hsl(224, 36%, 15%);
    --numbers_back: hsl(223, 31%, 20%);
    
    
    /* Text */
    --General_font: hsl(0, 0%, 100%);
}

html 
{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;;
}

body 
{
    overflow-x: hidden;
    background-color: var(--background);
}

.container
{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 20px;
}

.box_change
{
    display: flex;
    align-items: center;
    gap: 30px;
}

.button_change
{
    position: relative;
    width: 60px;
    margin: none;
    height: 20px;
    background-color: var(--result_back);
    border-radius: 10px;
}

#switch1, #switch2, #switch3
{
    position: absolute;
    background-color:hsl(6, 63%, 50%) ;
    width: 13px;
    height: 13px;
    margin: 5%;
    border-radius: 10px;
    border: none;
    z-index: 3;
}

#switch2
{
    left: 20px;
    z-index: 2;
}

#switch3
{
    left: 40px;
    z-index: 1;
}

.change_swith
{
    display: flex;
    flex-direction: column;
}
.box_change h3
{
    position: relative;
    top: 14px;
}

.box_change div p
{
    margin-bottom: 5px;
    margin-top: 0px;
}

.text_change
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.box_result
{
    width: 100%;
    height: 150px;
    background-color: var(--result_back);
    border-radius: 10px;
    margin: 0%;
    color: var(--General_font);
    font-size: clamp(1rem, 5vw, 4rem);;
}

#receiver
{
   position: relative;
   right: 0px;
   top: 0%;
   margin: 0px;
}

.mid_buttons
{
    display: flex;
    padding: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--numbers_back);
    border-radius: 10px;
    margin-top: 10%;
    gap: 20px;
}

.large_buttons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--General_font);
}


.button 
{
    display: inline-block;
    font-size: 60px;
    background-color: hsl(30, 25%, 89%);
    color: hsl(224, 36%, 15%);
    height: 70px;
    width: 20%;
    border:none;
    vertical-align: middle;
    border-radius: 10px;
    box-shadow: 0px 5px 0px hsl(27, 6%, 65%);
}

.button:active 
{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 0px;
    transform: translateY(5px);
}

.button-1 
{
    display: inline-block;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 5px 0px hsl(224, 28%, 35%);
    border: 0ch;
    vertical-align: middle;
    color: #fff;
}

.button-1:active 
{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 0px;
    transform: translateY(5px);
}

.button-red 
{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 5px 0px hsl(6, 70%, 34%);
    border: none;
}

.large_buttons button
{
    font-size: xx-large;
    width: 48%;
    height: 70px;
    border-radius: 10px;
}

.button-red:active {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 0px;
    transform: translateY(5px);
}